html {
  height: 100%;
  width: 100%;
}
h1 {
  background-color: #35752875 ;
  
}
 body {
     background:	#00CE90;
     
     font: normal 15pt Candara;
   }

input {
			background-color: #20B26AA;
			color:#00000; 
  }